<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons >
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text>
    <p>
      CLTS LIFESTYLE EVENTS is an events company aiming to define new boundaries  
      and frontiers in the events industry by aiming a whole dimension when it comes to events.<br><br>

      Our core business and function is to plan,<br>facilitate,oversee and successfully  
      execute all lifestyle events that we engage in <br><br>

      CLTS LIFESTYLE EVENTS is a company formed by four individuals  namely <br>
      Courtney Serongwa.<br>
      Lucky Masharane.<br>
      Tony Kobe and <br>Sakkie mMshile.<br><br>
      It was formed 2020 with a registration no 1177336
    </p>
  </ion-text>
</ion-content>
