<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Contact Details</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label>
            <ion-icon name="call-outline"></ion-icon>
             011 564 6952 
            </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="mail-outline"></ion-icon>
            info@catering.co.za
          </ion-label>
        </ion-item>
        <ion-item>
          <address>
            7th street,
            midrand
            1685
          </address>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-item>

  <ion-item-group>
    <ion-label>Enquiries</ion-label>
    <ion-item>
      <ion-label position="floating">Name and Surname</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-button color="warning">Submit</ion-button>
    </ion-item>
  </ion-item-group>

</ion-content>
