<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    
      <img src="../../assets/img/main.jpg">
    
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)= "goGalleryPage()" expand="block" color="warning">Gallery</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="goRequestPage()"  expand="block" color="warning">Request</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="goAboutPage()" expand="block" color="warning">About </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)= "goContactPage()"  expand="block" color="warning">Contact</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
