<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-card>
      <img src="../../assets/img/logo1.jpeg">
    </ion-card>
  </ion-item>

  <form>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-checkbox color="warning"></ion-checkbox>
          <ion-label>Food</ion-label>
        </ion-col>
        <ion-col>
          <ion-checkbox color="warning"></ion-checkbox>
          <ion-label>Equip</ion-label>
        </ion-col>
        <ion-col>
          <ion-checkbox color="warning"></ion-checkbox>
          <ion-label>Food & decor</ion-label>
        </ion-col>
        <ion-col>
          <ion-checkbox color="warning"></ion-checkbox>
          <ion-label>Food & Equip</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label>Event type</ion-label>
      <ion-select>
        <ion-select-option value="wedding">Wedding</ion-select-option>
        <ion-select-option value="birthday">Birthday</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" >
      <ion-fab-button color="warning">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </form>
</ion-content>